@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rubik:wght@500&display=swap');
body{
    background-color:#1E2023 ;
    color:white;
}


/**Gallery*/
.content-item {
padding:30px 0;
background-color:#1E2023;
}

.content-item.grey {
background-color:#1E2023;
padding:50px 0;
height:100%;
}

.content-item h2 {
font-weight:500;
font-size:28px;
line-height:45px;
margin:20px 0;
font-family: 'Rubik', sans-serif;
}

.content-item h3 {
   font-family: 'Kanit', sans-serif;
   font-size:20px;
    
margin:10px 0 15px;
padding:0;
}

.content-headline {
height:1px;
text-align:center;
margin:20px 0 70px;
}

.content-headline h2 {
background-color:#1E2023;
display:inline-block;
margin:-20px auto 0;
padding:0 20px;
}

.grey .content-headline h2 {
background-color:#1E2023;
}

.content-headline h3 {
font-size:14px;
color:#AAAAAA;
display:block;
}

/* BOXES */

#downloadImage{
    width:10rem;
    height:3.6rem;
    padding:4px;
    margin-right:10px;
   
}
.box {
margin-top:7rem;
padding:14px;
background-color: rgba(0,0,0,0.28);
padding-left:15%;
border-radius:5px;

}

.unbox{
margin-top:3.7rem;
padding:14px;
background-color: rgba(0,0,0,0.28);
}
.boxTwo{
padding:14px;
background-color: rgba(0,0,0,0.28);
margin-top:0.75rem;

}

.tagText{
padding:7px;
background-color:#464749;
border-radius:0.1rem;
margin-right:5px;
}

.box h3 {
margin:30px 0 5px;
font-weight:bold;

}

.box ul {
margin:0;
}

.box ul li {
font-size:13px;
padding:10px 0;
font-weight:600;
}

.box ul li:last-child {
border-bottom:0;
}

.box ul li i {
font-size:18px;
margin-right:20px;
}

.box.categories ul li i {
color:#BBBBBB;	
position:relative;
top:2px;
width:20px;
}

.posts ul li a {
font-size:14px;
line-height:23px;
}

.posts ul li a:hover {
color:#333333;	
}

.posts ul li div {
font-size:13px;
color:#999999;
font-weight:bold;
text-align:right;
margin-top:5px;
}

.box.posts ul li i {
color:#333333;
font-size:14px;
margin-right:10px;
}

.box.tags ul.blog-tags li {
border:0;
}

ul.blog-tags li {
padding:7px 0;
}

div ul.blog-tags li i,
div .box.tags ul li i {
color:#FFFFFF;
position:relative;
top:1px;
font-size:14px;
}

#gallery .row {
margin:0;
}

#gallery .row > div {
padding:0;
}

#gallery .overlay-wrapper:hover .overlay {
background-color:rgba(0,0,0,0.7);
}

#gallery-item h2 {

margin-top:0;
}



@media(max-width:767px){
.img-responsive{
    width:28rem;
    padding:4px;
}
.imgs{
    width:16rem;
    padding:2px;
}
}
.grey{
    padding-top:5.5rem;padding-bottom:10rem;
}


.like__btn {
    padding: 1px 15px;
    background: #0080ff;
    margin-left:10px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
  }
  

@media(min-width:992px){
    .img-responsive{
        margin-top:1rem;
        width:70rem;
        padding:5px;   
        background-color: rgba(0,0,0,0.28);
        }
        .imgs{
        width:14rem;
        padding:2px;
         height:7.9rem;
        background-color: rgba(0,0,0,0.28);
        border-radius:2px;
        }
}



